body {
  background-color: red;
  background-image: url(ebdd4530a288637267e872f67826a2d7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.button {
  background-color: bgcolor-button;
  color: cor-button;
  font-size: 1.8rem; }

